<div class="col" id="pokeCard">
    <h3><%= pokemon.name %></h3>
    <img src="<%= pokemon.sprite %>">
    <form action="/<%= pokemon.name %>" method="get">
        <button id="pokeButton" class="btn btn-primary d-inline-flex align-items-center">More</button>
    </form>
</div>
